<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <aspNetCore
            processPath="dotnet"
            arguments=".\webapp.dll"
            stdoutLogEnabled="true"
            stdoutLogFile="\\?\%home%\LogFiles\stdout">
        </aspNetCore>
    </system.webServer>
</configuration>