<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="AcmeChallenge" patternSyntax="Wildcard">
                    <match url=".well-known/acme-challenge*" />
                    <action type="Rewrite" url="{R:0}/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>